* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
     'Helvetica Neue', sans-serif;
    margin: 0px;
}

h1 {
    color: white;
    margin: 0px;
}

.title-container {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

nav ul li.list,.h1 {
    border: 1px solid blue;
    background-color: aqua;
    padding: 4px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 2s ease-in-out;
}
/* id > class > element > pseudo class, pseudo element */
nav ul li.list:hover {
    color: white;
    background-color: darkgreen;
}

.list{
    color: bisque;
}
#qwerty{
    color: red;
}
.list.list1{
    border: 1px solid;
}
nav ul a:focus{
    color: red;
}
/* ========= dropdown menu ======== */
.content1{
    display: none;
}
.main-list-item{
    position: relative;
}
.main-list-item .content1{
    position: absolute;
    top: 0;
    left: 0;
}
nav ul li div.h1:hover~.content1{
    display: flex;
}